<div class="footer alert-secondary">
	<i>Dernière mise à jour : <?php echo $conso['date']; ?></i><br />
	<i>Ce site n'est pas un site officiel de vélib métropole.
	  Les données utilisées proviennent de
	  <a href="http://www.velib-metropole.fr">www.velib-metropole.fr</a> et
	  appartiennent à leur propriétaire. -
	  <a href="https://framagit.org/Tomo59/velibstats">Site du projet</a>
	  (Forked from <a href="https://velib.nocle.fr">velib.nocle.fr</a>) -
	  Auteur : <a href="mailto:velib@tomobox.fr">Thomas Gambier</a></i>
</div>
